* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main styles */
body {
  font: 16px $font;
}

.pokemon-wrap {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-list-bar {
  width: 55%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.pokemon-own-list {
  width: 40%;

  @media (max-width: 900px) {
    width: 100%;
  }
}
